/* You can add global styles to this file, and also import other style files */
html,
body {
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

:root {
  --sky-top: #206;
  --sky-bottom: #609;

  --sun-size: 45vmax;
  --sun-top: #f0c;
  --sun-bottom: #80f;
  --sun-highlight: #f00;
  --sun-glow: #9006;
}

body {
  background-image: linear-gradient(to bottom,
    var(--sky-top),
    var(--sky-bottom));
  text-align: center;
  box-sizing: border-box;
}
